In [1]:
from datetime import datetime,timedelta
# timedelta时间间隔

In [2]:
now=datetime.now()
now

In [3]:
delta=now-datetime(2021,1,1,0,0,0)
delta

datetime.timedelta(days=127, seconds=40715, microseconds=142295)

In [4]:
str(now)

'2021-05-08 11:18:35.142295'

In [5]:
snow=now.strftime('%Y/%m/%d %H:%M:%S')
snow

'2021/05/08 11:18:35'

In [6]:
datetime.strptime(snow,'%Y/%m/%d %H:%M:%S')

datetime.datetime(2021, 5, 8, 11, 18, 35)

In [7]:
from dateutil.parser import parse

In [8]:
parse(snow)
# 自动解析格式转换为datetime（）

datetime.datetime(2021, 5, 8, 11, 18, 35)

In [9]:
parse('1/2/2021',dayfirst=True)
# dayfirst=True指示日期出现在月份之前

datetime.datetime(2021, 2, 1, 0, 0)

In [10]:
import pandas as pd

In [11]:
pd.to_datetime(snow)
# pandas快速转换

Timestamp('2021-05-08 11:18:35')

In [12]:
ds=pd.read_csv('dataset.csv',nrows=30)

In [13]:
ds.head()

   WindNumber            Time  WindSpeed       Power  RotorSpeed
0           1  2017/11/1 0:20   4.188333   65.750000    5.779167
1           1  2017/11/1 0:30   4.042500  120.700000    8.636500
2           1  2017/11/1 0:40   4.137368  135.157895    8.668421
3           1  2017/11/1 0:50   4.274737  157.315789    8.727895
4           1  2017/11/1 1:00   4.108947  129.894737    8.656842

In [14]:
ds.Time=pd.to_datetime(ds.Time)
ds.Time[:10]

0   2017-11-01 00:20:00
1   2017-11-01 00:30:00
2   2017-11-01 00:40:00
3   2017-11-01 00:50:00
4   2017-11-01 01:00:00
5   2017-11-01 01:10:00
6   2017-11-01 01:20:00
7   2017-11-01 01:30:00
8   2017-11-01 01:40:00
9   2017-11-01 01:50:00
Name: Time, dtype: datetime64[ns]

In [15]:
ds.index=ds.Time
# datetime作为索引
ds.head()

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 00:20:00,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 00:30:00,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 00:40:00,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-01 00:50:00,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-01 01:00:00,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842

In [16]:
ds.index
# DatetimeIndex

DatetimeIndex(['2017-11-01 00:20:00', '2017-11-01 00:30:00',
               '2017-11-01 00:40:00', '2017-11-01 00:50:00',
               '2017-11-01 01:00:00', '2017-11-01 01:10:00',
               '2017-11-01 01:20:00', '2017-11-01 01:30:00',
               '2017-11-01 01:40:00', '2017-11-01 01:50:00',
               '2017-11-01 02:00:00', '2017-11-01 02:10:00',
               '2017-11-01 02:20:00', '2017-11-01 02:30:00',
               '2017-11-01 02:40:00', '2017-11-01 03:00:00',
               '2017-11-01 03:20:00', '2017-11-01 03:30:00',
               '2017-11-01 03:40:00', '2017-11-01 03:50:00',
               '2017-11-01 04:00:00', '2017-11-01 04:10:00',
               '2017-11-01 04:30:00', '2017-11-01 04:40:00',
               '2017-11-01 04:50:00', '2017-11-01 05:00:00',
               '2017-11-01 05:10:00', '2017-11-01 05:20:00',
               '2017-11-01 05:30:00', '2017-11-01 05:40:00'],
              dtype='datetime64[ns]', name='Time', freq=None)

In [17]:
ds.index[0]
# Timestamp是DatetimeIndex的标量值

Timestamp('2017-11-01 00:20:00')

In [18]:
ds.loc['2017-11-01 00':'2017-11-01 01',:]
# 闭区间
# ds.loc['2017',:]选择2017年的数据

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 00:20:00,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 00:30:00,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 00:40:00,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-01 00:50:00,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-01 01:00:00,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842
2017-11-01 01:10:00,1,2017-11-01 01:10:00,4.223684,119.368421,8.630526
2017-11-01 01:20:00,1,2017-11-01 01:20:00,4.383000,130.400000,8.659500
2017-11-01 01:30:00,1,2017-11-01 01:30:00,4.353684,129.052632,8.656316
2017-11-01 01:40:00,1,2017-11-01 01:40:00,4.783500,200.300000,9.026500
2017-11-01 01:50:00,1,2017-11-01 01:50:00,5.012000,231.150000,9.284500

In [19]:
# 索引index=pd.date_range(star='2021/1/1',periods=1000，freq="D")创建从'2021/1/1'开始1000天（freq）的顺序日期索引,若end,periods从后往前
index=pd.date_range(start='2020/1/1',end=now,freq="M",tz='UTC')
# 生成从起始日期2020到结尾日期现在的日期序列,每个月月底
# 可设置normalize=True,是否标准化为0点
# tz设置时区
index

DatetimeIndex(['2020-01-31 00:00:00+00:00', '2020-02-29 00:00:00+00:00',
               '2020-03-31 00:00:00+00:00', '2020-04-30 00:00:00+00:00',
               '2020-05-31 00:00:00+00:00', '2020-06-30 00:00:00+00:00',
               '2020-07-31 00:00:00+00:00', '2020-08-31 00:00:00+00:00',
               '2020-09-30 00:00:00+00:00', '2020-10-31 00:00:00+00:00',
               '2020-11-30 00:00:00+00:00', '2020-12-31 00:00:00+00:00',
               '2021-01-31 00:00:00+00:00', '2021-02-28 00:00:00+00:00',
               '2021-03-31 00:00:00+00:00', '2021-04-30 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='M')

In [20]:
index=pd.date_range(start='2020/1/1',end=now,freq="1h10min")
index
# 间隔1h10min

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:10:00',
               '2020-01-01 02:20:00', '2020-01-01 03:30:00',
               '2020-01-01 04:40:00', '2020-01-01 05:50:00',
               '2020-01-01 07:00:00', '2020-01-01 08:10:00',
               '2020-01-01 09:20:00', '2020-01-01 10:30:00',
               ...
               '2021-05-08 00:20:00', '2021-05-08 01:30:00',
               '2021-05-08 02:40:00', '2021-05-08 03:50:00',
               '2021-05-08 05:00:00', '2021-05-08 06:10:00',
               '2021-05-08 07:20:00', '2021-05-08 08:30:00',
               '2021-05-08 09:40:00', '2021-05-08 10:50:00'],
              dtype='datetime64[ns]', length=10152, freq='70T')

In [21]:
ds.head()

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 00:20:00,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 00:30:00,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 00:40:00,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-01 00:50:00,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-01 01:00:00,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842

In [22]:
ds.shift(2).head()
# 直接调用shift，索引不变，数据向后推移

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 00:20:00,NaN,NaT,NaN,NaN,NaN
2017-11-01 00:30:00,NaN,NaT,NaN,NaN,NaN
2017-11-01 00:40:00,1.0,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 00:50:00,1.0,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 01:00:00,1.0,2017-11-01 00:40:00,4.137368,135.157895,8.668421

In [23]:
ds.shift(1,freq='1h').head()
# 指定freq后，时间索引向后推移而数据不变

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 01:20:00,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 01:30:00,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 01:40:00,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-01 01:50:00,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-01 02:00:00,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842

In [24]:
from pandas.tseries.offsets import MonthEnd,Day

In [25]:
MonthEnd().rollforward(now)
# 到月末 等价于now+MonthEnd()
# 再就是下月末

Timestamp('2021-05-31 11:18:35.142295')

In [26]:
MonthEnd().rollback(now)
# 上月末

Timestamp('2021-04-30 11:18:35.142295')

In [27]:
ds.tz_localize('UTC').head()
# 本地化时区
# ds.tz_convert('EST').head()转换时区，先本地化再转换

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-01 00:20:00+00:00,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-01 00:30:00+00:00,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-01 00:40:00+00:00,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-01 00:50:00+00:00,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-01 01:00:00+00:00,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842

In [28]:
# 时间区间
pd.Period('2020')
# 表示2020一整年的区间

Period('2020', 'A-DEC')

In [29]:
pd.period_range('2020','2021',freq='M')
# 时间区间序列

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
             '2021-01'],
            dtype='period[M]', freq='M')

In [30]:
p=pd.Period('2020')
p.asfreq('D',how='end')
# 区间的最后一天

Period('2020-12-31', 'D')

In [31]:
pd.period_range('2020','2021',freq='M').asfreq('A-DEC')

PeriodIndex(['2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020',
             '2020', '2020', '2020', '2020', '2021'],
            dtype='period[A-DEC]', freq='A-DEC')

In [32]:
p=pd.Period('2020Q4')
p
# 第四季度11-1

Period('2020Q4', 'Q-DEC')

In [33]:
ds.to_period('M').head()
# 时间戳转换为区间

         WindNumber                Time  WindSpeed       Power  RotorSpeed
Time
2017-11           1 2017-11-01 00:20:00   4.188333   65.750000    5.779167
2017-11           1 2017-11-01 00:30:00   4.042500  120.700000    8.636500
2017-11           1 2017-11-01 00:40:00   4.137368  135.157895    8.668421
2017-11           1 2017-11-01 00:50:00   4.274737  157.315789    8.727895
2017-11           1 2017-11-01 01:00:00   4.108947  129.894737    8.656842

In [34]:
ds.to_period('M').to_timestamp(how='end').head()
# 区间转换为时间戳，细节丢失

,WindNumber,Time,WindSpeed,Power,RotorSpeed
Time,,,,,
2017-11-30 23:59:59.999999999,1,2017-11-01 00:20:00,4.188333,65.750000,5.779167
2017-11-30 23:59:59.999999999,1,2017-11-01 00:30:00,4.042500,120.700000,8.636500
2017-11-30 23:59:59.999999999,1,2017-11-01 00:40:00,4.137368,135.157895,8.668421
2017-11-30 23:59:59.999999999,1,2017-11-01 00:50:00,4.274737,157.315789,8.727895
2017-11-30 23:59:59.999999999,1,2017-11-01 01:00:00,4.108947,129.894737,8.656842

In [35]:
# resample()重新采样，可以看作是groupby的api
ds.resample('1h').mean()
# 对1hgroupby
# 默认是左闭合如11-1，11，3，freq=1d,==11-1,11-2

                     WindNumber  WindSpeed       Power  RotorSpeed
Time
2017-11-01 00:00:00           1   4.160735  119.730921    7.952996
2017-11-01 01:00:00           1   4.477469  156.694298    8.819031
2017-11-01 02:00:00           1   3.885671  103.548947    5.356742
2017-11-01 03:00:00           1   3.327147   35.975833    4.160375
2017-11-01 04:00:00           1   3.596752   25.735714    2.032490
2017-11-01 05:00:00           1   4.613165  205.760468    9.119984

In [36]:
ds.resample('50min',closed='right',label='right',loffset='1s').mean()
# close指定右闭合，label表示索引名用右边,loffset偏置

<ipython-input-36-73a822db0d80>:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ds.resample('50min',closed='right',label='right',loffset='1s').mean()

                     WindNumber  WindSpeed       Power  RotorSpeed
Time
2017-11-01 00:50:01           1   4.160735  119.730921    7.952996
2017-11-01 01:40:01           1   4.370563  141.803158    8.725937
2017-11-01 02:30:01           1   4.388071  151.878947    7.189642
2017-11-01 03:20:01           1   3.183542   21.104167    2.372292
2017-11-01 04:10:01           1   2.913822   17.413333    2.789000
2017-11-01 05:00:01           1   4.285730   71.459117    4.690482
2017-11-01 05:50:01           1   4.730667  222.661111    9.215111

In [37]:
# 金融数据开端-峰值-峰谷-结束（ohlc）

In [38]:
# 向上采样，低频率转为高频率
# .resample().ffill(limit=2)对空值前插法，limit指定只对前两个空值填充

In [39]:
# 移动窗口函数 
# rolling()算子
ds.rolling(10,min_periods=3).std()
# 滑动窗口大小为10，根据滑动窗口大小分组，这里是10个滑动窗口大小的标准差
# min_periods=3最少观测值数目是3

                     WindNumber  WindSpeed       Power  RotorSpeed
Time
2017-11-01 00:20:00         NaN        NaN         NaN         NaN
2017-11-01 00:30:00         NaN        NaN         NaN         NaN
2017-11-01 00:40:00         0.0   0.074010   36.619642    1.658974
2017-11-01 00:50:00         0.0   0.097097   39.010652    1.449714
2017-11-01 01:00:00         0.0   0.087220   34.088617    1.294347
2017-11-01 01:10:00         0.0   0.083555   30.505463    1.178255
2017-11-01 01:20:00         0.0   0.112950   28.056176    1.090555
2017-11-01 01:30:00         0.0   0.118825   26.073261    1.019763
2017-11-01 01:40:00         0.0   0.219971   35.369018    0.984005
2017-11-01 01:50:00         0.0   0.311429   45.773100    0.970597
2017-11-01 02:00:00         0.0   0.399841   51.432114    0.318628
2017-11-01 02:10:00         0.0   0.373371   49.793869    0.310326
2017-11-01 02:20:00         0.0   0.499422   54.401943    0.384680
2017-11-01 02:30:00         0.0   0.534892   78.534794    2.790032
2017-11-01 02:40:00         0.0   0.801030   93.099341    3.707545
2017-11-01 03:00:00         0.0   0.924216  103.503069    4.261064
2017-11-01 03:20:00         0.0   0.921219  104.042741    4.186513
2017-11-01 03:30:00         0.0   0.920745  104.356261    4.180352
2017-11-01 03:40:00         0.0   0.899854  101.856539    4.052843
2017-11-01 03:50:00         0.0   0.881349   93.927040    4.187038
2017-11-01 04:00:00         0.0   0.748584   67.455942    4.058716
2017-11-01 04:10:00         0.0   0.661513   46.105243    3.777286
2017-11-01 04:30:00         0.0   0.660529   39.781008    3.380183
2017-11-01 04:40:00         0.0   0.833000   39.640329    3.330433
2017-11-01 04:50:00         0.0   0.916595   62.897262    3.837114
2017-11-01 05:00:00         0.0   0.903162   69.369751    4.051850
2017-11-01 05:10:00         0.0   0.992703   97.556040    4.335229
2017-11-01 05:20:00         0.0   1.071025  113.460499    4.430676
2017-11-01 05:30:00         0.0   1.082104  119.265958    4.689607
2017-11-01 05:40:00         0.0   0.974865  114.710071    4.544290

In [40]:
ds.expanding(10).std()
# 扩展窗口

                     WindNumber  WindSpeed      Power  RotorSpeed
Time
2017-11-01 00:20:00         NaN        NaN        NaN         NaN
2017-11-01 00:30:00         NaN        NaN        NaN         NaN
2017-11-01 00:40:00         NaN        NaN        NaN         NaN
2017-11-01 00:50:00         NaN        NaN        NaN         NaN
2017-11-01 01:00:00         NaN        NaN        NaN         NaN
2017-11-01 01:10:00         NaN        NaN        NaN         NaN
2017-11-01 01:20:00         NaN        NaN        NaN         NaN
2017-11-01 01:30:00         NaN        NaN        NaN         NaN
2017-11-01 01:40:00         NaN        NaN        NaN         NaN
2017-11-01 01:50:00         0.0   0.311429  45.773100    0.970597
2017-11-01 02:00:00         0.0   0.387450  56.712841    0.972873
2017-11-01 02:10:00         0.0   0.370355  54.931133    0.932997
2017-11-01 02:20:00         0.0   0.453429  55.353826    0.902097
2017-11-01 02:30:00         0.0   0.459077  69.156901    2.423659
2017-11-01 02:40:00         0.0   0.644798  77.025802    3.090066
2017-11-01 03:00:00         0.0   0.718945  82.088069    3.505997
2017-11-01 03:20:00         0.0   0.697554  79.990397    3.394696
2017-11-01 03:30:00         0.0   0.683125  78.025500    3.314701
2017-11-01 03:40:00         0.0   0.688631  78.273161    3.250448
2017-11-01 03:50:00         0.0   0.748130  80.877691    3.518607
2017-11-01 04:00:00         0.0   0.798981  82.743499    3.715411
2017-11-01 04:10:00         0.0   0.835310  84.082971    3.861475
2017-11-01 04:30:00         0.0   0.821484  85.117439    3.970406
2017-11-01 04:40:00         0.0   0.829333  85.874305    4.001773
2017-11-01 04:50:00         0.0   0.831983  85.781716    3.974275
2017-11-01 05:00:00         0.0   0.816542  84.581594    3.939369
2017-11-01 05:10:00         0.0   0.829391  89.206378    3.927797
2017-11-01 05:20:00         0.0   0.835067  91.890072    3.907959
2017-11-01 05:30:00         0.0   0.827635  92.503760    3.880057
2017-11-01 05:40:00         0.0   0.815666  91.607006    3.842988

In [41]:
ds.rolling('1h').std()
# 这里窗口大小是1h的标准差
# 也可以看作是一种resample或groupby
# rolling().apply()可以自己指定函数

                     WindNumber  WindSpeed       Power  RotorSpeed
Time
2017-11-01 00:20:00         NaN        NaN         NaN         NaN
2017-11-01 00:30:00         0.0   0.103120   38.855518    2.020440
2017-11-01 00:40:00         0.0   0.074010   36.619642    1.658974
2017-11-01 00:50:00         0.0   0.097097   39.010652    1.449714
2017-11-01 01:00:00         0.0   0.087220   34.088617    1.294347
2017-11-01 01:10:00         0.0   0.083555   30.505463    1.178255
2017-11-01 01:20:00         0.0   0.123699   13.747609    0.034777
2017-11-01 01:30:00         0.0   0.111596   12.743806    0.032598
2017-11-01 01:40:00         0.0   0.231786   30.199838    0.150652
2017-11-01 01:50:00         0.0   0.347517   46.929731    0.273302
2017-11-01 02:00:00         0.0   0.393090   61.031382    0.376278
2017-11-01 02:10:00         0.0   0.343600   53.652121    0.342611
2017-11-01 02:20:00         0.0   0.631684   63.146454    0.484004
2017-11-01 02:30:00         0.0   0.699077  102.810346    3.656672
2017-11-01 02:40:00         0.0   1.028000  120.721531    4.597704
2017-11-01 03:00:00         0.0   0.812375   89.231844    4.625931
2017-11-01 03:20:00         0.0   0.850514   47.455444    3.409728
2017-11-01 03:30:00         0.0   0.834463   54.026310    4.462544
2017-11-01 03:40:00         0.0   0.648449   45.093006    3.673560
2017-11-01 03:50:00         0.0   0.704339   46.597215    3.916791
2017-11-01 04:00:00         0.0   0.768364   46.572832    3.920440
2017-11-01 04:10:00         0.0   0.755650   45.625866    3.882673
2017-11-01 04:30:00         0.0   0.456100   18.683930    2.277075
2017-11-01 04:40:00         0.0   1.011520    1.441336    0.424599
2017-11-01 04:50:00         0.0   1.161381   81.635223    3.867371
2017-11-01 05:00:00         0.0   0.987323   91.797059    4.634031
2017-11-01 05:10:00         0.0   0.671490  120.001874    4.675500
2017-11-01 05:20:00         0.0   0.635173  120.882905    4.447838
2017-11-01 05:30:00         0.0   0.320463  100.473772    3.324309
2017-11-01 05:40:00         0.0   0.345578   48.394238    0.311042

In [42]:
# 指数加权函数ewm，给近期的观测值更多权重
ds.ewm(span=10).mean()

                     WindNumber  WindSpeed       Power  RotorSpeed
Time
2017-11-01 00:20:00         1.0   4.188333   65.750000    5.779167
2017-11-01 00:30:00         1.0   4.108125   95.972500    7.350700
2017-11-01 00:40:00         1.0   4.119881  111.724768    7.880415
2017-11-01 00:50:00         1.0   4.170899  126.744979    8.159622
2017-11-01 01:00:00         1.0   4.153114  127.649188    8.302360
2017-11-01 01:10:00         1.0   4.171444  125.498387    8.387596
2017-11-01 01:20:00         1.0   4.222420  126.679479    8.453114
2017-11-01 01:30:00         1.0   4.252283  127.219383    8.499344
2017-11-01 01:40:00         1.0   4.367858  143.119168    8.614034
2017-11-01 01:50:00         1.0   4.503164  161.610587    8.754870
2017-11-01 02:00:00         1.0   4.641863  182.301672    8.909994
2017-11-01 02:10:00         1.0   4.617015  183.120511    8.910894
2017-11-01 02:20:00         1.0   4.381097  165.520947    8.760082
2017-11-01 02:30:00         1.0   4.271330  130.691690    7.083136
2017-11-01 02:40:00         1.0   3.932573  103.689575    5.751475
2017-11-01 03:00:00         1.0   3.710419   82.244848    4.676966
2017-11-01 03:20:00         1.0   3.819511   82.445590    5.098118
2017-11-01 03:30:00         1.0   3.801124   82.704907    5.745949
2017-11-01 03:40:00         1.0   3.707456   73.228028    5.638246
2017-11-01 03:50:00         1.0   3.496223   57.909742    4.607822
2017-11-01 04:00:00         1.0   3.309051   45.487941    3.769643
2017-11-01 04:10:00         1.0   3.160518   35.349299    3.089480
2017-11-01 04:30:00         1.0   3.203271   26.746090    2.538056
2017-11-01 04:40:00         1.0   3.501717   19.539086    2.260578
2017-11-01 04:50:00         1.0   3.734767   47.398391    3.477902
2017-11-01 05:00:00         1.0   3.809424   63.990066    4.439766
2017-11-01 05:10:00         1.0   4.033340  100.216190    5.366008
2017-11-01 05:20:00         1.0   4.199153  126.791508    6.095837
2017-11-01 05:30:00         1.0   4.270732  142.502328    6.654515
2017-11-01 05:40:00         1.0   4.285817  147.422949    7.049928